// Place all the styles related to the blog_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.thred{
  li{
    display: inline;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    zoom: 1;
  }
   
  li + li {
    border-left: 0;
    border-right: 1px solid #333;
    zoom: 1;
  }
}
hr.dotted
{
 border-top: 1px dashed #bbb;
}

ul.comment{
  li  {
    display: inline;
    border-left: 0;
    border-right: 1px solid #333;
    zoom: 1;
  }
}